@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap");
@import "./header";
@import "./footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-size: 16px;
  overflow: scroll;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 24px 24px 0;
  width: 100%;
  min-width: 350px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

section {
  padding-top: 120px;

  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
  }

  .col-1,
  .col-2 {
    width: 50%;
  }

  .col-1 {
    img {
      display: block;
      height: 100%;
      max-width: 100%;
    }
  }

  .col-2 {
    background-color: rgba(15, 15, 15, 0.05);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .col-2-content {
      max-width: 288px;
    }

    .form {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .second-btn {
        background-color: white;
        color: black;
        border: 1px solid rgba(15, 15, 15, 0.25);
        margin-top: 1rem;
      }
    }

    h1 {
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: #4b4b4b;
    }

    .second-btn,
    button {
      font-family: "Albert Sans", sans-serif;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 500;
      border-radius: 4px;
      border: none;
      font-size: 16px;
      transition: all 0.2s;
      display: block;
      padding: 0.8rem;
    }

    .login-continue,
    .first-btn {
      background-color: black;
      color: white;
    }

    input {
      padding: 10px 16px;
      font-size: 16px;
      margin: 1.5rem 0 1rem;
      border-radius: 4px;
      border: 1px solid #c3c3c3;
    }

    ::placeholder {
      color: #c3c3c3;
    }
  }

  p {
    span {
      display: block;
      padding: 1rem;
      position: relative;
    }

    span:before,
    span::after {
      content: "";
      display: block;
      width: 100px;
      height: 2px;
      background: #d9d9d9;
      position: absolute;
      top: 50%;
    }

    span::before {
      left: 0;
      margin-left: 1rem;
    }

    span::after {
      right: 0;
      margin-right: 1rem;
    }
  }

  .social {
    padding: 1rem;

    a:first-child {
      padding-right: 1rem;
    }
    img {
      border: 1px solid #c3c3c3;
      padding: 0.5rem;
      border-radius: 50%;
    }
  }
}

// My Acocunt Page

.account {
  .col-2-content {
    p {
      padding-bottom: 1.5rem;
    }
  }
}

//Log in password page

.login-password {
  form {
    width: 288px;
  }

  p {
    padding-bottom: 0;
  }
}

@media (max-width: 992px) {
  section {
    .col-1 {
      display: none;
    }

    .col-2 {
      width: 100%;
      padding-bottom: 5rem;
      background-color: white;
    }
  }
}
