@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap");
@import "./header";
@import "./footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-size: 16px;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(224, 224, 224);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 50px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.products::-webkit-scrollbar,
.big-products::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 24px 24px 0 24px;
  width: 100%;
  min-width: 350px;
  margin: 0 auto;
  max-width: 1920px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

main {
  button {
    font-family: "Albert Sans", sans-serif;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    transition: all 0.2s;
  }
}

.title-bar:first-child {
  padding-top: 120px;
}

.title-bar {
  max-width: 75%;
  height: 100%;
  margin: 0 auto;
  .path {
    margin: 20px 0 33px;
    span {
      font-size: 12px;
      color: #878787;
      text-transform: uppercase;
      padding-right: 0.5rem;
    }
    span a {
      color: #878787;
    }

    span:not(:last-child) {
      border-right: 1px solid #c3c3c3;
    }

    span:not(:first-child) {
      padding-left: 0.5rem;
    }
  }
}

.products-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;

  .bar-btns {
    display: flex;
    justify-content: row;
    gap: 8px;

    button {
      display: flex;
      align-items: center;
      padding: 6.5px 8px;
      background-color: white;
      border: 1px solid #c3c3c3;
      border-radius: 4px;
      color: black;
    }
    img {
      width: 24px;
    }
  }
}

.products,
.big-products {
  .item {
    h3 {
      font-size: clamp(0.8rem, 10vw, 1.5rem);
      font-weight: 500;
      padding: 1rem 0 0.5rem;
    }
  }
}
.discover-btn,
.show-more-btn {
  border: 1px solid rgba(15, 15, 15, 0.25);
  margin-top: 1.5rem;
  background-color: inherit;
  color: black;

  &:hover {
    border-color: #0f0f0f;
  }

  &:active {
    background-color: #e7e7e7;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  max-width: 75%;
  margin: 2.5rem auto;

  .item {
    img {
      border: 1px solid rgba(15, 15, 15, 0.25);
      border-radius: 4px;
      width: 100%;
      height: auto;
      min-width: 150px;
    }
  }
}

.big-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 2.5rem auto;
  max-width: 75%;
  overflow: scroll;

  .big-item {
    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }
  }

  .tags {
    padding-block: 1rem;
    .new,
    .reffillable {
      font-weight: 700;
      font-size: 12px;
      padding: 4px 8px;
      border-radius: 2px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .new {
      background-color: #fde083;
      color: black;
    }

    .reffillable {
      background-color: #0f0f0f;
    }
  }
}

.showmore {
  text-align: center;
  font-size: 16px;
  .show-more-btn {
    text-align: center;
    display: block;
    margin: 24px auto 72px;
  }
}

.slider {
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.4s;
  will-change: transform;
  user-select: none;
}

.disabled {
  cursor: default;
  color: #878787;
  border-color: #878787;

  &:hover {
    border-color: #878787;
  }
}

.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .products-section {
    margin: 0;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
  }

  .big-products {
    text-align: left;
    gap: 1rem;
    max-width: 80%;

    img {
      min-width: 300px;
    }
  }
}

@media (max-width: 992px) {
  .title-bar:first-child {
    padding-top: 40px;
  }

  .big-products {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .products {
    padding: 0 1rem;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 24px;
  }

  .products-bar {
    font-size: 14px;
    button {
      font-size: 14px;
    }
  }

  .products {
    .item {
      .item-details {
        h3 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .title-bar {
    max-width: 100%;
  }
}
